<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.unice.polytech.rimel.testplugin.ContextMenuHandler"
            id="fr.unice.polytech.rimel.TestPlugin.contextMenuCommand"
            name="contextMenuCommand">
         <defaultHandler
               class="fr.unice.polytech.rimel.testplugin.ContextMenuHandler">
            <parameter
                  name="fr.unice.polytech.rimel.TestPlugin.parameter1"
                  value="fr.unice.polytech.rimel.TestPlugin.parameter1">
            </parameter>
         </defaultHandler>
      </command>
      <command
            id="fr.unice.polytech.rimel.TestPlugin.contextMenuCommand2"
            name="contextMenuAnalysisCommand">
         <defaultHandler
               class="fr.unice.polytech.rimel.testplugin.ContextMenuAnalysisHandler">
            <parameter
                  name="fr.unice.polytech.rimel.LMUEclipseUI.parameter1"
                  value="fr.unice.polytech.rimel.LMUEclipseUI.parameter1">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.unice.polytech.rimel.testplugin.ContextMenuHandler"
            commandId="fr.unice.polytech.rimel.TestPlugin.lolContextMenuCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="&gt;&gt; RIMEL">
            <command
                  commandId="fr.unice.polytech.rimel.TestPlugin.contextMenuCommand"
                  label="LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with variable="activeMenuSelection">
				      <iterate
				           ifEmpty="false">
				           <or>
					         <adapt type="org.eclipse.core.resources.IResource">
					              <test property="org.eclipse.core.resources.extension" value="jar" />
					         </adapt>
					         <adapt type="org.eclipse.core.resources.IResource">
					              <test property="org.eclipse.core.resources.extension" value="java" />
					         </adapt>
					         <adapt type="org.eclipse.jdt.core.IPackageFragmentRoot">
				            </adapt>
				            <adapt type="org.eclipse.jdt.core.IPackageFragment">
				            </adapt>
			              </or>
				      </iterate>
			   	  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.unice.polytech.rimel.TestPlugin.contextMenuCommand2"
                  label="Analyse d&apos;unité de dépendence"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="jar">
                              </test>
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="jar">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.unice.polytech.rimel.lmueclipseui.preferences.LMUPreferencePage"
            id="fr.unice.polytech.rimel.lmueclipseui.preferences.LMUPreferencePage"
            name="LMU Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.unice.polytech.rimel.lmueclipseui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
